<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Bruno Simplicio</h1>
		<p>This is my dog</p>
		<p>His name is Saraiva and i think he fits better in a profile image  </p>
		<p>Follow me at Twitter <a href="http://twitter.com/BrunoBerna">@BrunoBerna</a></p>
	</div>
</div>
